$active-color: $black_color;
$disabled-color: $black_color_4;
$error-color: $error_color_1;
$warning-color: $warning_color_1;

// Category: Writeables & Password
.input-component.writeable{
  border-radius: 5px;
  //overflow: hidden;
  transition-duration: $default-transition-duration;
  label{
    position: absolute;
    font-size: 1rem;
    margin-top: -7px;
    margin-left: 10px;
    background-color: $white_color;
    height: 12px;
    padding: 0 3px;
  }
  .message-area{
    display: flex;
    align-items: center;
    gap: 3px;
    justify-content: center;
    font-size: .8rem;
    margin-top: 5px;
    div{
      width: 20px;
    }
    span{
      display: flex;
      align-items: center;
      width: 100%;
    }
  }
  .input-container{
    background-color: transparent;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &>div{
      min-width: 4rem;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      &.deactive{
        min-width: 10px;
      }
    }
    .input-icon{
      position: relative;
      top: 1px;
    }
    .clear-icon{
      cursor: pointer;
    }
    .char-counter{
      font-size: 12px;
      position: relative;
      cursor: pointer;
      color: $disabled-color;
    }
    input{
      //background-color: #EDF5FF;
      font-size: 1.2rem;
      border: none;
      width: 100%;
      height: 100%;
      outline: none;
      background-color: transparent;
      &::placeholder{
        font-style: oblique;
      }
    }
  }

  &.message-active{ margin-bottom: 20px; }

  &.active{
    box-shadow: $box_shadow_0 !important;
    border: 1px solid $active-color !important;
    background-color: $white_color !important;
    input{
      color: $active-color !important;
      &::placeholder{
        opacity: .6;
      }
    }
    label {
      color: $active-color !important;
    }
  }

  &.deactive{
    border: 1px solid $disabled-color;
    input{
      color: $disabled-color;
      &::placeholder{
        opacity: .4;
      }
    }
    label{
      color: $disabled-color;
    }
  }

  &.disabled{
    border: 1px solid $black_color_5;
    opacity: 0.6;
    cursor: not-allowed;
    input{
      color: $disabled-color;
      &::placeholder{
        opacity: .4;
      }
      &:disabled{
        background-color: transparent;
        cursor: not-allowed;
      }
    }
    label{
      color: $disabled-color;
    }
  }

  &.error{
    $error-color-custom: darken($error-color, 7.5%);
    background-color: lighten($error_color_5, 7.5%);
    border: 1px solid $error-color-custom;
    label{ color: $error-color-custom; }
  }

  &.warning{
    $warning-color-custom: darken($warning-color, 10%);
    background-color: lighten($warning_color_4, 4%);
    border: 1px solid $warning-color-custom;
    label{ color: $warning-color-custom; }
  }

  &.info{
    //background-color: $info_color_8;
    //border: 1px solid $info_color_1;
    //label{ color: $info_color_1; }
  }
}

// Category: Buttons
.input-component.buttons{
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  transition-duration: $default-transition-duration;
  box-shadow: $box_shadow_1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $black_color_9;
  input{
    cursor: pointer;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: bold;
    &.mid-size{
      font-size: 1rem;
    }
  }
  &.is-loading{
    background-color: $black_color_6;
    cursor: wait !important;
    box-shadow: $box_shadow__1;
  }
  &.button-type-0{
    background-color: $white_color_1;
    input{
      font-size: 1.2rem !important;
      color: $black_color_5;
      font-weight: normal !important;
    }
  }

  &.button-type-1{
    background-color: $main_color;
    input{
      color: $white_color;
    }
    &.is-loading{
      cursor: wait !important;
      opacity: .7 !important;
    }
  }

  &.button-type-2{
    background-color: $main_color_4;
    border: 1px solid $main_color_1;
    box-shadow: none;
    input{
      color: $main_color;
    }
    &.is-loading{
      cursor: wait !important;
    }
  }

  &.button-type-danger{
    background-color: $error_color_1;
    input{
      color: $white_color;
    }
    &.is-loading{
      cursor: wait !important;
      opacity: .7 !important;
    }
  }

  &.button-type-success{
    background-color: $success_color_2;
    input{
      color: $white_color;
    }
    &.is-loading{
      cursor: wait !important;
      opacity: .7 !important;
    }
  }

  &:active{
    box-shadow: $box_shadow__1;
    input{
      opacity: .7;
    }
  }

  &.disabled{
    //background-color: $black_color_5;
    cursor: not-allowed !important;
    box-shadow: $box_shadow__1;
    input{
      //color: $black_color_2;
      cursor: not-allowed !important;
      opacity: .7;
    }
    opacity: .5;
  }

  .image-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

// Category: Checkbox & Radio
.input-component.selectable{
  display: flex;
  align-items: center;
  gap: 1.2rem;
  height: 100% !important;
  $checkbox-bg-color: lighten($main_color, 0%);
  $checkbox-checkmark-color: $white_color;

  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border: .1rem solid darken($checkbox-bg-color, 5%);
    border-radius: .25rem;
    cursor: pointer;
    position: relative;

    &:checked {
      background-color: $checkbox-bg-color;
      &:after {
        content: '';
        $check-size: .35rem;
        position: absolute;
        left: calc($check-size);
        width: $check-size;
        height: calc($check-size * 2.5);
        border: solid $checkbox-checkmark-color;
        border-width: 0 $check-size $check-size 0;
        transform: rotate(45deg);
      }
    }
  }
  label{
    color: $black_color_3;
    cursor: pointer;
    font-size: 1.1rem;
    &.disabled{
      opacity: .5;
      cursor: not-allowed;
    }
  }
}