// General
$default-transition-duration: .2s;
$default-loading-speed: 1s;

// Default Layout configs:
$default-layout-section-gap: 3rem;
$default-layout-header-height: 12rem;
$default-layout-header-height-mobile: calc($default-layout-header-height / 2.5);

// Default Colors
$link-color: $main_color;

$html_background_color: transparent;
$body_background_color: $main_white_color;

$header_background_color: $main_white_color;
$header_font_color: $main_black_color;

$footer_background_color: $main_black_color;
$footer_font_color: $main_color;

.default-container {
  background-color: $main_white_color !important;
}