@font-face {
  font-family: 'Roboto';
  src: url('~/assets/fonts/Roboto/Roboto-Black.ttf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('~/assets/fonts/Roboto/Roboto-BlackItalic.ttf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('~/assets/fonts/Roboto/Roboto-Bold.ttf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('~/assets/fonts/Roboto/Roboto-BoldItalic.ttf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('~/assets/fonts/Roboto/Roboto-Italic.ttf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('~/assets/fonts/Roboto/Roboto-Light.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('~/assets/fonts/Roboto/Roboto-LightItalic.ttf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('~/assets/fonts/Roboto/Roboto-Medium.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

/* Classes usage */

.bold-text {
  font-weight: 700;
}

.black-text {
  font-weight: 900;
}

.light-text {
  font-weight: 300;
}

.italic-text {
  font-style: italic;
}

.bold-italic-text {
  font-weight: 700;
  font-style: italic;
}

.black-italic-text {
  font-weight: 900;
  font-style: italic;
}

.light-italic-text {
  font-weight: 300;
  font-style: italic;
}


$font-family: Roboto;

// Font sizes:
$font-size-extra-small: .75rem;
$font-size-small: .90rem;
$font-size-normal: 1.1rem;
$font-size-big: 1.35rem;
$font-size-extra-big: 1.8rem;
$font-size-input: 1.2rem;