@import "./utilities/colors";
@import "./utilities/configs";
@import "./utilities/animations";
@import "./utilities/responsive";
@import "./utilities/fonts";


*{
  margin: 0;
  padding: 0;
}

html{
  background-color: $html_background_color;
  & > * {
    padding: 0;
    margin: 0;
    color: $text_color;
  }
}
body{
  font-family: $font-family;
  background-color: $body_background_color;
  .container {
    background-color: $main_background_color;
    min-width: 95vw;
    min-height: 100vh;
  }
}

a {
  transition-duration: $default-transition-duration;
  color: $link-color;
  font-size: $font-size-normal;
  user-select: none;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer !important;
  &:hover{
    color: lighten($link-color, 10%);
    opacity: .9;
  }
  &.decoration{
    text-decoration: underline;
  }
}

a.type_1 {
  border: 3px solid transparent;
  width: 100%;
  text-align: center;
  padding: .5rem;
  font-weight: 500;
  color: $second_gray_color;
  &.active,
  &:hover
  {
    color: $main_color;
    border-bottom: 3px solid $main_color;
  }

  &:hover {
    background-color: lighten($main_white_color, 3%);
  }
}
a.type_2 {
  color: $main_color;
  font-weight: normal;
  font-size: $font-size-small;
  background-color: $main_color_transparent;
  padding: .8em 1.2em;
  border-radius: 8px;
}

a.type_3 {
  color: $main_white_color;
  font-weight: 500;
  font-size: $font-size-small;
  background-color: $main_color;
  padding: .8em 1rem;
  border-radius: 8px;
  &:hover{
    opacity: .9;
    box-shadow: $box_shadow_3;
  }
}

a.type_4 {
  font-weight: 500;
  font-size: $font-size-normal;
  color: $main_color;
  background: transparent;
  padding: .8em .5em;
  border-radius: 8px;
  &:hover{
    opacity: .9;
  }
}

// Auto complete styles
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: $main_black_color;
  -webkit-box-shadow: 0 0 0px 1000px lighten($main_white_color, 3%) inset;
}

// Common used styles
br,
.cannot-select {
  user-select: none;
}
strong,
b {
  font-weight: bold;
}

.default-container {
  background-color: $main_white_color !important;
}

span.divider {
  display: block;
  width: 100%;
  padding: 1px 0;
  background: $default_border_color;
  margin: 1.5rem 0;
}

.flex-column-between-center{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.flex-row-between-center{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flex-column-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-row-center{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-column-start-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flex-row-start-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flex-column-end-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.flex-row-end-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.flex-column-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-column-no-wrap {
  display: flex;
  flex-wrap: nowrap;
}

.flex-column-align-start {
  display: flex;
  align-items: flex-start;
}

.flex-column-align-end {
  display: flex;
  align-items: flex-end;
}

.flex-column-justify-start {
  display: flex;
  justify-content: flex-start;
}

.flex-column-justify-end {
  display: flex;
  justify-content: flex-end;
}

.flex-column-space-around {
  display: flex;
  justify-content: space-around;
}

.flex-column-space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.flex-column-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-column-no-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.flex-column-align-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex-column-align-end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.flex-column-justify-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flex-column-justify-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.flex-column-space-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flex-column-space-evenly {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
